[run]
omit =
    */python?.?/*
    */lib-python/?.?/*.py
    */site-packages/*
    *.egg/*
    tests/*
    pyzabbix/logger.py
[report]
exclude_lines =
    import ConfigParser as configparser
    logger
    break
